elpa/
auto-save-list/
contrib/
idlwave/
url/
var/
abbrev_defs
bookmarksx
ido.last
org-clock-save.el
/.org-id-locations
tramp
custom.el
session.*
bookmarks
/org-caldav-backup.org
.python-environments/
/ac-comphist.dat
